{% extends 'authapp/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block css %}
{% bootstrap_css %}
{% endblock %}
{% block js %}
{% bootstrap_javascript %}
{% endblock %}

{% block header %} Регистрациия {% endblock %}
{% block content %}
<form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors register_form %}
    {% bootstrap_form register_form %}
    <br>
    <input class="form-control" type="submit" value="Зарегистрироваться">
</form>
{% endblock %}
