<!DOCTYPE html>
{% load static %}
{% load my_tags %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container">
    <h1>Сегодня: {{ title|get_current_day }}</h1>
    <div class="admin_container">
        <div class="h2 text-center head">
            Админка
        </div>
        <div class="admin_menu">
            {% include 'adminapp/includes/inc_menu.html' %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>